body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab';
}

header {
  display: flex;
  position: relative;
  align-items: center; /* Vertically align items */
}

header img {
  height: 35px;
  width: auto;
  margin-right: 78%; /* Remove the large margin-right */
  margin-left: 30px;
  padding-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

header img:hover {
  animation: beat 0.5s ease forwards; 
}

.headerfonts {
  font-family: 'Roboto Slab', serif;
  font-size: 16px; 
  color: #181b1e;
  cursor: pointer;
  padding-right: 40px;
  padding-left: 40px;
  transition: transform 0.3s ease; 
  position: relative;
}

.headerfonts::after {
  content: "";
  position: absolute;
  bottom: -15px; 
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #5F6266;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; 
}

.headerfonts:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1.2); 
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.headerfonts.bounce {
  animation: bounce 1s ease-in-out;
}

.header-content {
  display: flex; 
}

@media (max-width: 768px) {
  header img {
    height: 40px;
    margin-right: 10px; /* Adjust margin-right for smaller screens */
  }

  .headerfonts {
    font-size: 14px; /* Reduce font size for medium screens */
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  header img {
    height: 30px;
    margin-right: 10px;
  }

  .headerfonts {
    font-size: 12px; /* Further reduce font size for small screens */
    padding-right: 20px;
  }
}
