
body {
    margin: 0; 
    padding: 0; 
    font-family: 'Roboto Slab'; 
    overflow-x: hidden;
    background-color: #f8f9fa; 

}

.profile-content {
    display: flex; 
    flex-wrap: wrap; 
}

.landing-section {
    height: 100vh; 
    padding: 20px;
    display: flex;
}

.recentworks-section {
    background-color: #f8f9fa; 
    height: 103vh; 
    padding: 20px;
    display: flex;
}

.projsachieves-section {
    background-color: #f8f9fa; 
    height: 100vh; 
    display: flex;
    margin-top: 9%;
}

.expskills-section {
    background-color: #f8f9fa; 
    display: flex;
    margin-top: 4%;
}

@media (max-width: 768px) {
    .landing-section, .recentworks-section {
        height: auto; 
        padding: 40px 20px; 
    }
}

@media (max-width: 480px) {
    .landing-section, .recentworks-section {
        height: auto; 
        padding: 20px 15px;
    }

    .profile-content {
        flex-direction: column;
    }
}
